<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Free Chat</title>
    <link href="/css/app.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <%- include('./header'); %>
    <section id="main">
      <h1 id="title">Free Chat</h1>
      <form action="update" method="POST">
        <% if (locals.csrf) {%>
        <input type="hidden" name="_csrf" value="<%=csrf %>"></input>
        <% }%>
        <textarea placeholder="Message" name="message" id="textarea-message"></textarea>
        <font color="red"><%=emptyMessageError %></font><br>
        <button type="submit" id="submit-button">POST</button>
      </form><br>
      <h1 id="title">Comment List</h1>
      <div class="msg">
        <div class="msg_meta">
          <% messages.forEach(function(val){ %>
            <h2 class="msg_username"><%=val.username %></h2>
            <span class="msg_date"><%=val.date %></span>
            <div class="msg_main">
              <p class="msg_body"><%=val.message %></p>
            </div>
          <% }) %>
        </div>
      </div>
    </section>
  </body>
</html>
