<!DOCTYPE html>
<html>
  <head>
    <title>Free Chat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Free Chat</h1>
    <% if (user) { %>
      <h2><%=user.username %> is Login</h2>  
      <form action="update" method="POST">
        <% if (locals.csrf) {%>
        <input type="hidden" name="_csrf" value="<%=csrf %>"></input>
        <% }%>
        <textarea placeholder="Message" name="message"></textarea>
        <font color="red"><%=emptyMessageError %></font><br>
        <button type="submit">POST</button>
      </form><br>
    <% } else { %>
      <a href="/signin">Singup</a>
      <a href="/login">Login</a>
      <a href="/oauth/twitter">Twitter</a>
    <% } %>  
    <h1>Comment List</h1>
    <% messages.forEach(function(val){ %>
      <h2><%=val.username %></h2>
      <%=val.date %><br>
      <%=val.message %><br>
    <% }) %>
  </body>
</html>
